[submodule "themes/minimo"]
path = themes/minimo
url = https://github.com/MunifTanjim/minimo
[submodule "canvas/themes/hugo-coder"]
	path = canvas/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
